.container{
    justify-content:center;
    text-align:center;
}
#title{
    font-family:'Courier New';
    font-size:50px;
}
.grid-container{
    display:inline-grid;
    gap:10px;
    grid-template-columns: auto auto auto auto;
}
.grid-img{
    height:125px;
    width:125px;
    border: solid black 2px;
    border-radius: 25px;

}
body{
    background-color: antiquewhite;
}
.bottom{
    font-size:20px;
}
